repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: debug-statements
      - id: check-merge-conflict
      - id: detect-private-key

  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        name: isort (python)

  - repo: https://github.com/pycqa/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        exclude: node_modules|migrations|scripts|.venv|__init__.py
        additional_dependencies: [
          # A flake8 plugin that checks django code style.
          # https://github.com/rocioar/flake8-django
          flake8-django,
          # required by flake8-django
          django,
          django_extensions,
          # A plugin for Flake8 finding likely bugs and design problems in your program.
          # https://github.com/PyCQA/flake8-bugbear
          flake8-bugbear,
          # A flake8 plugin checking common style issues or inconsistencies with pytest-based tests.
          # https://github.com/m-burst/flake8-pytest-style
          flake8-pytest-style,
          # A flake8 plugin that warn about backslashes usage.
          # https://github.com/wemake-services/flake8-broken-line
          flake8-broken-line,
          # A simple module that adds an extension for the fantastic pydocstyle tool to flake8.
          # https://github.com/PyCQA/flake8-docstrings
          flake8-docstrings,
          # McCabe complexity checker.
          # https://github.com/PyCQA/mccabe
          mccabe,
          # A flake8 plug-in loading the configuration from pyproject.toml
          flake8-pyproject,
        ]

  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.4.0
    hooks:
      - id: add-trailing-comma

  - repo: https://github.com/jorisroovers/gitlint
    rev:  v0.19.1
    hooks:
    -   id: gitlint

  - repo: https://github.com/rtts/djhtml
    rev: v1.5.2
    hooks:
      - id: djhtml
        args: [ "--tabwidth=2" ]
      - id: djcss
        args: [ "--tabwidth=2" ]
      - id: djjs
        args: [ "--tabwidth=2" ]

  - repo: local
    hooks:
      - id: check_new_migrations
        name: check for new migrations
        entry: inv django.check-new-migrations
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ push ]

      - id: tests
        name: run tests
        entry:
          inv python.run
          " -m coverage run --source import_export_extensions
          --omit import_export_extensions/migrations -m pytest -v"
        language: system
        pass_filenames: false
        types: [ python ]
        stages: [ push ]

      - id: mypy
        name: mypy
        entry: inv mypy.run
        language: system
        pass_filenames: false
        types: [ file ]
        stages: [ push ]

      - id: package_installation_verify
        name: verify package can be installed
        entry: pip install --dry-run .
        language: system
        pass_filenames: false
        types: [ python ]
        stages: [ push ]
