name: Run tests and style checks

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.10'
          - '3.11'
        django-version:
          - '>=3.2,<4.0'
          - '>=4.0,<4.1'
          - '>=4.1,<4.2'
          - '>=4.2,<4.3'
          - '>=5.0,<5.1'
    name: python ${{ matrix.python-version }} - django ${{ matrix.django-version }}

    steps:
    - name: Check out repository code
      uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: latest
        virtualenvs-create: true
        virtualenvs-in-project: true
        installer-parallel: true

    - name: Cache poetry dependencies
      id: cached-poetry-dependencies
      uses: actions/cache@v3
      with:
        path: .venv
        key: ${{ runner.os }}-poetry-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Install local dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      run: poetry install --no-interaction

    - name: Install Django
      run: |
        poetry run pip install 'django${{ matrix.django-version }}'

    - name: Prepare env
      run: |
        poetry run inv ci.prepare

    - name: Run checks ${{ matrix.python-version }}
      run: poetry run inv pre-commit.run-hooks

    - name: Upload results to coveralls
      run: |
        poetry run pip install coveralls
        poetry run coveralls --service=github

      env:
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: python ${{ matrix.python-version }} - django ${{ matrix.django-version }}
        COVERALLS_PARALLEL: true

  coveralls-finish:
    needs: test
    if: ${{ always() }}
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      run: |
        pip install coveralls
        coveralls --service=github --finish
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
